INSTALL
Makefile
Makefile.in
.deps
.libs
*.o
*.lo
*.la
*.pc
config.status
config.h*
config.log
configure
config.guess
config.sub
libtool
depcomp
ltmain.sh
missing
aclocal.m4
autom4te.cache
install-sh
launcher/randomcrash
src/lrc_test
src/symbols.c
src/symbols.h
tests/t_opendir
tests/t_readdir
